@media (max-width: 800px) {
    div.lecture-box {
        font-size: 0.625rem;
        margin: 0 5px 0 12px;
    }

    div.author-box {
        font-size: 0.8125rem;
    }

    div.room-box {
        font-size: 0.625rem;
    }

    div.completed > div.school-box {
        display: none;
    }

    div.completed > div.school-id {
        display: none;
    }

    div.lecture-button-box {
        font-size: 0.8125rem;
        margin: 30px 0 0 0px;
        padding: 5px 10px 5px 10px;
    }

    a.link-button {
        max-width: 60px;
    }

    div.school-box {
        display: flex;
        flex-direction: column;
        font-size: 0.625rem;
        margin: 30px 0 0 0;
    }

    div.date-time-box {
    }

    div.avatar {
        width: 100px;
        height: 100px;
    }

    div.lecture-info-box {
        font-size: 0.8125rem;
        flex-wrap: wrap;
    }

    div.author-info-box {
        font-size: 0.8125rem;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

body {
    background-color: #ebebeb;
    font-family: OpenSans, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    margin: 0 0 150px;
}

div#container {

    max-width: 70%;
    min-width: 360px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: auto;
    height: 100%;
}

.horizontal-box {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    background-color: white;
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 120px;
}

.completed {
    border: 1px solid #00cea0;
}

.lecture-box {
    margin: 0 30px 0 30px;
}

.title-box {

}

.author-box {
    /*color: #b3b3b3;*/
}

/* Hover tooltips */
.author-tip {
    position: relative;
    cursor: help;
    white-space: nowrap;
}

.author-tip .author-info {
    position: absolute;
    top: -10px;
    right: 9999px;
    width: 200px;
    margin-right: -220px; /* width + left/right padding */
    padding: 10px;
    color: #373a3c;
    background: #ebebeb;
    font-size: 0.8333rem;
    -webkit-box-shadow: 2px 2px 5px #ebebeb;
    -moz-box-shadow: 2px 2px 5px #ebebeb;
    box-shadow: 2px 2px 5px #ebebeb;
    opacity: 0;
    word-wrap: break-word;
}

.author-tip:hover .author-info {
    right: -20px;
    opacity: 1;
}

.date-time-box {
    display: flex;
    width: 80px;
    flex-direction: column;
    margin: 30px 0 0 0;
}

.date-box {

}

.time-box {

}

.room-box {
    color: #b3b3b3;
}

.completed-icon-box {
    width: 32px;
    height: 32px;
}

.fa-check-circle {
    color: #00cea0;
}

.lecture-button-box {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    font-size: 0.8125rem;
    margin: 30px 0 0 50px;
}

.link-button {
    display: flex;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    opacity: 1;
    filter: none;
    text-decoration: none;
    min-width: 70px;
    padding: 10px 20px;
    border: 1px solid #7e778b;
    color: #7e778b;
    background-color: transparent;
}

.school-box {
    display: flex;
    flex-direction: column;
    font-size: 0.8125rem;
    margin: 30px 0 0 0;
}

.school-id {
    width: 100%;
    border-radius: 5px;
    text-align: center;

}

.school1 {
    border: solid red;
    margin: 0 0 4px 0;
}

.school2 {
    border: solid yellow;
    margin: 0 0 4px 0;
}

.school3 {
    border: solid plum;
    margin: 0 0 4px 0;
}

.month-div {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 30px;
    margin: 50px 0 20px;
    letter-spacing: 2px;
    color: #dc0000;
    border-top: 3px #dc0000 solid;
}

.month-div span {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    top: -12px;
    background-color: #ebebeb;
}

#footer {

}

.vertical-box {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: column;
    background-color: white;
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    padding: 10px;
    height: 100%;
}

.video-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 0 0;
    background-color: #111;
}



.details-box {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin: 0 auto;
    padding: 40px 0;

}

.author-info-box {
    display: flex;
    width: 20%;
    flex-direction: column;
    margin: 10px 15px 10px 15px;
}

.author-info-box span {
    margin: 10px 15px 0 15px;
}

.lecture-info-box {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 0 0 0 30px;
    font-size: 1rem;
    flex-wrap: wrap;
}

.avatar {
    background: url(https://avatars.mds.yandex.net/get-yaevents/95043/0914ac42b6dc11e687ef002590c62a5c/big) center/cover no-repeat #fff;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    display: block;
    vertical-align: middle;
}

