body {
    background-color: #ebebeb;
    font-family: OpenSans, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
}

div {
    display: block;
}

div#container {
    width: 75%;
    min-width: 480px;
    /*left: 50%;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
}

div#school-div {
    text-align: center;
    width: 75%;
    margin: auto;
    padding: 10px;
}

div#school-div-1 {
    float: left;
    width: 200px;
    border-radius: 10px;
    border: solid red;
    text-align: center;
}

div#school-div-2 {
    margin: 0 auto;
    width: 200px;
    border-radius: 10px;
    border: solid yellow;
    text-align: center;
}

div#school-div-3 {
    float: right;
    width: 200px;
    border-radius: 10px;
    border: solid plum;
    text-align: center;
}

div.horizontal-box {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 120px;

}

div.lecture-box {
    margin: 0 30px 0 30px;

}

div.title-box {

}

div.author-box {
    /*color: #b3b3b3;*/
}

/* Hover tooltips */
.author-tip {
    position: relative;
    cursor: help;
}

.author-tip .author-info {
    position: absolute;
    top: -10px;
    right: 9999px;
    width: 200px;
    margin-right: -220px; /* width + left/right padding */
    padding: 10px;
    color: #373a3c;
    background: #ebebeb;
    font-size: 0.8333rem;

    -webkit-box-shadow: 2px 2px 5px #ebebeb;
    -moz-box-shadow: 2px 2px 5px #ebebeb;
    box-shadow: 2px 2px 5px #ebebeb;
    opacity: 0;
}

.author-tip:hover .author-info {
    right: -20px;
    opacity: 1;
}

div.date-time-box {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
}

div.date-box {

}

div.time-box {

}

div.room-box {
    color: #b3b3b3;
}

div.school-box {
    display: flex;
    flex-direction: column;
    font-size: 0.8333rem;
    margin: 30px 0 0 0;
}

div.school-id {
    width: 100%;
    border-radius: 5px;
    text-align: center;

}

.school1 {
    border: solid red;
    margin: 0 0 4px 0;
}

.school2 {
    border: solid yellow;
    margin: 0 0 4px 0;
}

.school3 {
    border: solid plum;
    margin: 0 0 4px 0;
}

div.month-div {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 30px;
    margin: 50px 0 20px;
    letter-spacing: 2px;
    color: #dc0000;
    border-top: 3px #dc0000 solid;
}

div.month-div span {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    top: -12px;
    background-color: #ebebeb;
}

div#footer {

}
